.add_container {
    position: absolute;
    top: 15%;
    left: 30%;
    width: 45%;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
    /* From https://css.glass */
    background: rgba(151, 147, 147, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.8px);
    -webkit-backdrop-filter: blur(7.8px);
    border: 1px solid rgba(151, 147, 147, 0.3);
}

.exit {
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    width: 1rem;
    &:active {
        transform: translate(0px, 2px);
    }
}

.send_add_button {
    width: 5rem;
    height: 1.5rem;
    background-color: #71A5BC;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 10px 5px 10px rgb(186, 186, 186);

    &:hover {
        transform: translate(0px, -2px);
        box-shadow: white 0.006em 0.006em 0.007em, #9c9c9c 1px 1px 1px,
            #9c9c9c 1px 2px 1px, #9c9c9c 1px 3px 1px, #9c9c9c 1px 4px 1px,
            #9c9c9c 1px 5px 1px, rgba(16, 16, 16, 0.4) 1px 10px 10px,
            rgba(16, 16, 16, 0.2) 1px 10px 10px,
            rgba(16, 16, 16, 0.2) 1px 10px 10px,
            white -0.15em -0.1em 100px;
    }

    &:active {
        transform: translate(0px, 2px);
    }
}