.home_container {
    height: 90vh;
    width: 100vw;
    font-size: 32px;
    position: relative;

}

.homepage_img {
    height: 30vw;
    width: 30vw;
    position: absolute;
    top: 10%;
    left: 10%;
    border-radius: 50%;
    background-position: center;
    box-shadow: 10px 5px 10px rgb(186, 186, 186);
}

.homepage_txt {
    height: auto;
    width: 45vw;
    position: absolute;
    bottom: 10%;
    right: 5%;
    text-align: start;
    background: rgba(151, 147, 147, 0.2);
    border: none;
    border-radius: 5px;
    box-shadow: 10px 5px 10px rgb(186, 186, 186);
    padding: 0.5rem;
    font-size: 25px;

}
@media screen and (max-width : 720px) {
    .home_container {
        position: initial;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .homepage_txt{
        position: initial;
        font-size: 20px;
        width: 85vw;
    }
    .homepage_img{
        position: initial;
        height: 40vw;
        width: 40vw;
    }

}

@media screen and (min-width : 1024px) {
  
    .homepage_txt{
        font-size: 30px;

    }

}

.buttonDarkMode{
    width: 10rem;
    height: 5rem;
    background-color: rgba(255, 252, 252, 0);
    position:absolute;
    border:none;
    right : 1rem;
    color : white;
    
    }
    
    .buttonLightMode{
        width: 10rem;
        height: 5rem;
        background-color: rgba(255, 255, 255, 0);
        position:absolute;
        border:none;
        right : 1rem;
    
        
        }