.project_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 90vh;
    width: 100vw;
    margin-top: 5rem;

}

@media screen and (max-width : 720px) {
    .project_cards {
        display: flex;
        justify-content: space-around;
        width: 100vw;
        margin-top: 5rem;
        gap:2rem;
    
    }
    
}